* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #32a093 0%,
    #32a093 15%,
    #dfe0d9 15%,
    #dfe0d9 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
  display: flex;
}

.sidebar {
  background: #000;
  height: 100%;
  width: 400px;
}

.content {
  background: purple;
  height: 100%;
  width: calc(100% - 400px);
}
