/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #32a093 0%,
    #32a093 15%,
    #dfe0d9 15%,
    #dfe0d9 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
  display: flex;
}

/* Utilities */

.mx-6 {
  margin: 0 6px;
}

.mr-12 {
  margin-right: 12px;
}

.mt-5 {
  margin-top: 5px;
}

.p-0 {
  padding: 0;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.color-grey {
  color: #898f92;
}

/* Section sidebar */
.sidebar {
  background: #fff;
  height: 100%;
  width: 450px;
}

/* Header sidebar & content */
.header-sidebar,
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  align-items: center;
  background: #ededed;
}

.header-sidebar .user-me,
.header-content .user-chat {
  display: flex;
  align-items: center;
}

.header-sidebar .user-me .avatar,
.header-content .user-chat .avatar {
  width: 40px;
  border-radius: 50%;
}

.header-sidebar .header-icons,
.header-content .header-icons {
  color: #bababa;
  list-style: none;
  display: flex;
}

.header-sidebar .user-me .text-user-me {
  text-transform: capitalize;
}

/* Sidebar notifications */
.sidebar .sidebar-notifications {
  background: #a2dffe;
  display: flex;
  padding: 13px 18px;
  align-items: center;
}

.sidebar-notifications .notification-icon .icon {
  color: #a2dffe;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.sidebar-notifications .notification-text .notification-text-link a {
  font-size: 12px;
  color: #898f92;
}

/* Sidebar search */
.sidebar .search {
  background: #fafafa;
  display: flex;
  padding: 8px 10px;
}

.sidebar .search .search-icon {
  width: 15%;
  background: #fff;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #bababa;
  border: 0.3px solid #eeebeb;
}

.sidebar .search #search {
  width: 85%;
  border: 0.3px solid #eeebeb;
  padding: 0 10px;
  font-size: 10px;
  color: #c4c2c2;
  outline: none;
}

.sidebar .search #search:hover,
.sidebar .search #search:focus {
  border-color: #8e8e8e;
  color: #8e8e8e;
}

/* Sidebar chat */

.sidebar .chat-users .chat-list {
  list-style: none;
}

.sidebar .chat-users .chat-list .single-chat {
  border-bottom: 0.3px solid #c4c2c2;
  display: flex;
  align-items: center;
  padding: 15px;
}

.sidebar .chat-users .chat-list .single-chat:last-child {
  border-bottom: none;
}

.sidebar .chat-users .chat-list .single-chat .single-chat-avatar {
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

/* Section Main Content */
.content {
  height: 100%;
  width: calc(100% - 450px);
}

/* Header content */

.header-content {
  padding: 0;
}

.header-content .user-chat {
  border-left: 0.3px solid #d7d7d7;
  padding: 6px 10px;
}

.header-content .header-icons {
  margin-right: 10px;
}

.header-content .user-chat .text-user-chat {
  display: flex;
  flex-direction: column;
}

/* Expanded Chat Content */

.right {
  display: flex;
  flex-direction: column;
}

.right .expanded-chat {
  flex-grow: 1;
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
}

.right .expanded-chat .container-chat {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 500px;
  margin: 40px auto;
}

.right .expanded-chat .container-chat .message.sent,
.right .expanded-chat .container-chat .message.receveid {
  width: 30%;
  border-radius: 8px;
  height: 50px;
}

.right .expanded-chat .container-chat .message.sent {
  background: #ddfabf;
  align-self: flex-end;
}

.right .expanded-chat .container-chat .message.receveid {
  background: #ffffff;
  align-self: flex-start;
}

.right .expanded-chat .container-chat .text-message {
  padding: 15px 0 0 15px;
}

.right .expanded-chat .container-chat .message-info {
  text-align: right;
  padding: 2px 5px 5px 0;
  font-size: 10px;
}

/* Footer */
.footer {
  background-color: #ededed;
  display: flex;
  padding: 10px 0;
  align-items: center;
  color: #777e82;
}

.footer .footer-center {
  width: 86%;
}

.footer .footer-left,
.footer .footer-right {
  width: 7%;
  text-align: center;
}

.footer .footer-left .icon,
.footer .footer-right .icon {
  font-size: 18px;
}

.footer .footer-center input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 3px;
  padding: 15px;
  font-size: 10px;
  color: #c4c2c2;
  outline: none;
}

.footer .footer-center input:hover,
.footer .footer-center input:focus {
  border-color: #8e8e8e;
  color: #8e8e8e;
}
