/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #32a093 0%,
    #32a093 15%,
    #dfe0d9 15%,
    #dfe0d9 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
  display: flex;
}

/* Utilities */

/* Section sidebar */
.sidebar {
  background: pink;
  height: 100%;
  width: 400px;
}

.header-sidebar {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  align-items: center;
  background: #ededed;
}

.header-sidebar .user-me {
  display: flex;
  align-items: center;
}

.header-sidebar .user-me .avatar {
  width: 40px;
  border-radius: 50%;
}

.header-sidebar .header-icons {
  color: #bababa;
  list-style: none;
  display: flex;
}

.header-sidebar .header-icons li {
  margin: 0 6px;
}

.header-sidebar .user-me .text-user-me {
  text-transform: capitalize;
  font-size: 14px;
}

/* Section Main Content */
.content {
  background: purple;
  height: 100%;
  width: calc(100% - 400px);
}
